---
import Button from "./Button.astro";
import ButtonContact from "./Button-Contact.astro";
import { Image } from "astro:assets";

import Logo from "../assets/logo/aio-logo-trans.png";

export interface Props {
  para1: string;
  title: string;
  para2: string;
}

const { para1, title, para2 } = Astro.props;

import { navLinks } from "../utils/lib";
---

<header>
  <nav>
    <div class="navbar-container">
      <a href="/">
        <Image src={Logo} alt="logo AIO" />
      </a>
      <div class="navbar-links">
        {navLinks.map((info) => <a href={info.link}>{info.text}</a>)}
        <ButtonContact text="Contact" link="/contact" />
      </div>
      <Button text="Contact" link="/contact" />
      <div class="burger-meniu">Meniu</div>
    </div>
  </nav>
  <div class="header-container">
    <p>{para1}</p>
    <h1>{title}</h1>
    <p>{para2}</p>
  </div>
</header>

<style lang="scss">
  @use "../styles/abstracts/index.scss" as *;

  header {
    height: 100svh;
    width: 100%;
    background-image: url("../assets/imagini/header/header-prima-pagina.png");
  }

  .header-container {
    @include flex-center;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    max-width: 80rem;
    width: 100%;
    margin: 0 auto;
    text-align: center;

    > p {
      font-size: 2rem;
      color: #ffff;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
    }
    > p:nth-of-type(2) {
      font-weight: 300;
      padding: 0 0 2rem 0;
    }

    > h1 {
      font-size: 5rem;
      color: #ffff;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
    }
  }

  nav {
    @include flex-center;
    width: calc(100% - 2rem);
    padding: 1rem;
  }

  .navbar-links {
    @include flex-just-center;
    gap: 4rem;

    > a {
      @include nav-link;
    }
  }

  .navbar-container {
    @include flex-align-center;
    justify-content: space-between;
    width: 100%;
    max-width: 102.4rem;
    margin: 0 2rem;
  }
  .burger-meniu {
    color: white;
    padding: 1.2rem 2rem;
    background-color: $primary-color;
    font-size: 1.5rem;
  }

  @media (min-width: 600px) {
    .burger-meniu {
      display: none;
    }
  }
  @media (max-width: 600px) {
    .navbar-container {
      position: relative;
    }
    .btn-second {
      display: block;
    }

    .navbar-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 7rem;
      width: 100%;
      background-color: white;
      padding: 10rem 0;
      > a {
        color: black;
      }
    }
  }

  .display {
    @include flex-center;
  }
</style>

<script lang="javascript">
  let burgerMeniu = document.querySelector(".burger-meniu");
  let navbarLinks = document.querySelector(".navbar-links");
  burgerMeniu.addEventListener("click", function () {
    navbarLinks.classList.toggle("display");
  });
</script>
