---
import { type CollectionEntry, getEntryBySlug } from "astro:content";
import { Image } from "astro:assets";

// import CategoryList from "./CategoryList.astro";

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
// const author = await getEntryBySlug("authors", post.data.author);
---

<article>
  <a href={`/blog/${post.slug}`}>
    <!-- <Image
      src={post.data.image}
      alt={post.data.title}
      width={600}
      height={600 / 1.5}
      format="webp"
    /> -->
  </a>

  <!-- <div>
    <CategoryList categories={post.data.categories} />
  </div> -->

  <a href={`/blog/${post.slug}`}>
    {post.data.title}
  </a>

  <p>
    {post.body}
  </p>

  <!-- <div>
    {author ? <a href={`/author/${author.slug}`}>{author.data.name}</a> : null}

    <span>
      {post.data.date}
    </span>
  </div> -->
</article>
